<p id="notice"><%= notice %></p>

<p>
  <strong>Numeric rating:</strong>
  <%= @rating.numeric_rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rating.comments %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rating.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @rating.group_id %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
